<p style="color: green"><%= notice %></p>

<% content_for :title, "Tipos de Material" %>

<h1>Tipos de Material</h1>

<div id="material_types">
  <% @material_types.each do |material_type| %>
    <%= render material_type %>
    <p>
      <%= link_to "Ver este tipo de material", material_type, class: "btn btn-info" %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo tipo de material", new_material_type_path, class: "btn btn-success" %>
