<% content_for :title, "Nuevo Tipo de Material" %>

<div class="container mt-5">
  <h1 class="text-center mb-4">New Material Type</h1>

  <%= render "form", material_type: @material_type %>

  <div class="mt-4">
    <%= link_to "Volver a Tipos de Materiales", material_types_path, class: 'btn btn-secondary' %>
  </div>
</div>
