<% content_for :title, "Editar reciclador" %>

<div class="container mt-5">
  <h1 class="text-center mb-4">Editar Reciclador</h1>

  <%= render "form", recycler: @recycler %>

  <br>

  <div class="d-flex justify-content-center">
    <%= link_to "Ver este reciclador", @recycler, class: "btn btn-info mx-2" %> |
    <%= link_to "Volver a la lista de recicladores", recyclers_path, class: "btn btn-secondary mx-2" %> |
    <%= link_to "Eliminar reciclador", recycler_path(@recycler), method: :delete, data: { confirm: '¿Estás seguro de que quieres eliminar este reciclador?' }, class: "btn btn-danger mx-2" %>
  </div>
</div>
