/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
}
.menu {
    font-size: 25px;
}
.navbar {
    background-color: green !important;
}

.navbar_saludo {
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    margin-left: 50px;
}

.navbar .nav-link {
    color: #ffffff !important;
}

.navbar .nav-link:hover,
.navbar .nav-link.active,
.logo:hover {
    color: #ffcc00 !important;
}

.dropdown-menu {
    background-color: #ffffff !important;
    border: 1px solid #dee2e6; 
    position: absolute;
}

@media (min-width: 992px) {
    .dropdown-menu {
        left: -80px;
    }
}

.dropdown-item {
    font-size: 20px;
    color: #212529 !important;
}
.dropdown-item:hover {
    background-color: #ffcc00;
    color: #ffffff !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
/*Paginacion*/
.pagination .page-item .page-link {
    color: #007bff;
    border: 1px solid #dee2e6;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6;
  }
  