<div id="<%= dom_id material %>">
  <p>
    <strong>Recycler:</strong>
    <%= material.recycler_id %>
  </p>

  <p>
    <strong>Material type:</strong>
    <%= material.material_type_id %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= material.delivery_date %>
  </p>

</div>
