<div class="mb-3">
  <strong>Nombre del Material:</strong>
  <p><%= @material.name %></p>
</div>

<div class="mb-3">
  <strong>Descripción del Material:</strong>
  <p><%= @material.description %></p>
</div>

<div class="mb-3">
  <strong>Tipo de Material:</strong>
  <p><%= @material.material_type.name %></p>
</div>
