<% content_for :title, "Nuevo material" %>

<div class="container mt-5">
  <h1 class="text-center mb-4">Nuevo Material</h1>

  <%= render "form", material: @material %>

  <br>

  <div class="d-flex justify-content-center">
    <%= link_to "Volver a materiales", materials_path, class: "btn btn-secondary" %>
  </div>
</div>
